.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 1rem;
    text-align: left;
    margin-top: 50px;
    margin-left: 600px;
    color: rgb(145, 136, 134);
  }
  
  #survey-form {
    margin-top: 50px;
  }
  
  label {
    display: block;
    margin-bottom: 6px;
    font-size: 1rem;
  }
  
  .input-field {
    width: 70%;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #ccc;
  }
  
  .input-field:focus {
    outline: none;
    border-color: rgb(145, 136, 134);
  }
  
  button.btn {
    display: block;
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgb(145, 136, 134);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.btn:hover {
    background-color: #fff;
    color: rgb(145, 136, 134);
  }
  
  .button-group {
    margin-top: 20px;
    text-align: center;
  }
  
  .button-group p {
    display: inline-block;
    margin-right: 2px;
    font-size: 0.9rem;
  }
  
  .button-group a {
    display: inline-block;
    font-size: 1.1rem;
    color: rgb(117, 54, 243);
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  
  .button-group a:hover {
    color: #fff;
  }
  