.survey-report {
    border-collapse: collapse;
    margin: 30px;
    background-color: rgb(84, 189, 213);
  }
  
  th, td {
    padding: 10px;
    border: 1px solid black;
  }
  
  th {
    background-color: lightgrey;
    font-weight: bold;
  }
  
  td {
    text-align: center;
  }
  